[submodule ".vim.symlink/bundle/nerdtree"]
	path = .vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim.symlink/bundle/vim-commentary"]
	path = .vim.symlink/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim.symlink/bundle/vim-speeddating"]
	path = .vim.symlink/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim.symlink/bundle/vim-repeat"]
	path = .vim.symlink/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim.symlink/bundle/vim-surround"]
	path = .vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bin/git-all"]
	path = bin/git-all
	url = https://github.com/Likeyn/git-all.git
[submodule "bin/fasd"]
	path = bin/fasd
	url = https://github.com/clvv/fasd.git
[submodule ".vim.symlink/bundle/jellybeans.vim"]
	path = .vim.symlink/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim.symlink/bundle/syntastic"]
	path = .vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim.symlink/bundle/dbext.vim"]
	path = .vim.symlink/bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule ".vim.symlink/bundle/vim-airline"]
	path = .vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim.symlink/bundle/tagbar"]
	path = .vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim.symlink/bundle/ansible-vim"]
	path = .vim.symlink/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule ".vim.symlink/bundle/vim-dispatch"]
	path = .vim.symlink/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim.symlink/bundle/vim-polyglot"]
	path = .vim.symlink/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
