[submodule ".vim.symlink/bundle/nerdtree"]
	path = .vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim.symlink/bundle/vim-commentary"]
	path = .vim.symlink/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim.symlink/bundle/vim-speeddating"]
	path = .vim.symlink/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim.symlink/bundle/vim-repeat"]
	path = .vim.symlink/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim.symlink/bundle/vim-surround"]
	path = .vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bin/git-all"]
	path = bin/git-all
	url = https://github.com/Likeyn/git-all.git
[submodule "bin/fasd"]
	path = bin/fasd
	url = https://github.com/clvv/fasd.git
[submodule ".vim.symlink/bundle/jellybeans.vim"]
	path = .vim.symlink/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
